# Ignore compiled python files for git PR
*.pyc

# Ignore extra folders
/.idea
Python/OVH/.ipynb_checkpoints
Python/General/.ipynb_checkpoints

# Ignore dot (hidden) folders
.*/


# Ignore additional extracted patients
data/UCLA_PR_6
data/UCLA_PR_7
data/UCLA_PR_8
data/
